.DS_Store
__pycache__
*.egg-info
.venv
node_modules/
MUJOCO_LOG.TXT
mujoco_menagerie
checkpoints/
logs
.mujoco_playground_asset_cache/
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
.pytest_cache/
note/dist/
*.bag/
*.db3
